<%= form_with model: category do |form| %>
  <div>
    <%= form.label :name, 'Category Name', class:"form-label" %><br>
    <%= form.text_field :name , class:"form-control"%>
    <% category.errors.full_messages_for(:name).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :parent_cate_id, 'Parent Category', class:"form-label" %><br>
    <%= form.select :parent_cate_id, @option_parent_category,
    {:prompt => "--Parent Category--"},
    {:class => "form-select"}  
    %>
      <% category.errors.full_messages_for(:parent_cate_id).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit "Submit" , class:"btn btn-primary" %>
  </div>
<% end %>
